000*.patch
B-Flags-*.tar.gz
Debian_CPANTS.txt
META.yml
MYMETA.json
MYMETA.yml
Makefile
/Flags.bs
/Flags.o
/Flags.obj
/Flags.i
/Flags.gcov
Flags.c
/Flags.c.gcov
/Flags.gcda
/Flags.gcno
blib/
pm_to_blib
/Makefile.old
/log.*
cover_db
